<form class="add-item-form" id="add-item-form" onsubmit="addToDo(event)">
  <label class="form-label" for="item">Add item</label>
  <input [(ngModel)]="inputVal" (keyup)="onKeyUp($event)" class="text-input" type="text" id="item" name="item" autocomplete="off">
  <div class="button-submit" id="submit-add-item-form" (click)="onAdd()">
    <span class="btn-cont">Submit</span>
  </div>
</form>

<div class="item-list-container">
  <label class="form-label">Items list</label>
  <ul class="item-list" id="item-list">
    <li class="item" *ngFor="let todo of todos">
      <input class="item-text" [(ngModel)]="todo.name" placeholder="name" [attr.disabled]="disabled[todo.id] ? '' : null" autocomplete="off" />
      <img class="item-icon" src="img/rubbish-bin.svg" alt="delete icon" (click)="onDelete(todo)">
      <img class="item-icon" src="img/edit.svg" alt="edit icon" (click)="toggleEdit(todo.id)">
    </li>
  </ul>
</div>