body {
	margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	height: 100vh;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: #a8a8a8;
    text-align: center;
}

.nav-item-icon {
    padding: 10px 0 0 20px;
    width: 20px;
    height: 20px;
}

.back-arrow {
    display: block;    
}

.profile-image {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
}

.profile-name {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.nav {
    text-align: left;
}

.nav-item {
    border-bottom: 2px solid #ffffff;
    margin: 3px 2px 0 2px;
    padding: 0 0 3px 0;
}

.nav-item:hover{
    background: #a0a0a0;
}

.nav-item-text {
    margin: 0;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.logout {
    position: fixed;
    width: 100%;
    border: 0;
    padding-bottom: 5px;
    bottom: 20px;
}

.main {
	width: 80%;
	height: 100%;
	background-color: #b6b6b6;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 20%;
}

.header-container {
    width: 80%;
    margin: 2% 10% 0 10%;
    padding-top: 2px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
}

.main-heading {
    font-size: 32px;
}

.header-subtext {
    margin: 0 5% 0 5%;
}

.add-item-form {
    width: 50%;
    margin: 2% 0 0 10%;
    display: inline-block;
}

.form-label {
    display: inline-block;
    font-weight: bold;
}

.text-input {
    display: block;
    margin-top: 5px;
    border-radius: 10px;
    width: 70%;
    height: 27px;
}

.text-input:focus {
    border: 1px solid #007bff;
}

.button-submit {
    width: 20%;
    margin-top: 5px;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    height: 27px;
    color: #ffffff;
    font-weight: bold;
}

.button-submit:hover {
    background-color: #0364cc;
}

.item-list-container {
    margin: 2% 11% 0 0;
    width: 25%;
    float: right;
}

.item-list {
    padding: 0;
    margin-top: 5px;
    width: 100%;
}

.item {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
}

.item-icon {
    float: right;
    margin: 3px 10px 3px 10px;
    width: 15px;
}

.item-icon:hover {
    background-color: #afafaf;
    border-radius: 3px;
}

.item-text {
    display: inline-block;
    background-color: #ffffff;
    color: #000000; 
    border-radius: 10px;
}

.item-text:focus {
    border: 1px solid #007bff;
}

.item-text:disabled {
    border: none;
}